@page
@model TestConnectionsApp.Pages.AzureSQLTestModel
@{
    <p><b>Create Connection Test Result:</b> @ViewData["ConnectionMessage"]</p>
    <p><b>Open Connection Test Result:</b> @ViewData["ConnectMessage"]</p>
    <p><b>Table Check Result:</b> @ViewData["TableMessage"]</p>
}
