@page
@model TestConnectionsApp.Pages.AzureSQLTestModel
@{
    <h3>Test connection to Azure SQL Database</h3>
    <br />
    <table border="1" cellpadding="10" class="sql-results">
        <tr>
            <th>Command</th>
            <th>Result</th>
        </tr>
        @foreach (var item in Model.SqlMessages)
        {
            <tr>
                <td>@item.Key</td>
                <td><pre>@item.Value</pre></td>
            </tr>
        }
    </table>
}
